<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akrar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--android:theme="@style/Theme.AppCompat.NoActionBar">-->
        <activity android:name=".Financial_Invoice"></activity>
        <!-- <activity android:name="com.example.Akrar.Confirm_shipment_invoice"></activity> -->
        <!-- <activity android:name="com.example.Akrar.Shipment_invoice" /> -->
        <activity android:name=".CashReceipts" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".Confirm_shipment_invoice" />
        <activity android:name=".Shipment_invoice" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Update_MyProfileFragment" />
        <activity android:name=".productsFragment" />
        <activity android:name=".Document_page" />
        <activity android:name=".FragmentAdd_product" />
        <activity android:name=".Document" />
        <activity android:name=".curvedbottomm" />
        <activity
            android:name=".login_and_registration.ForgotpasswordActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".login_and_registration.RegistrationActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".login_and_registration.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--<activity android:name=".BottomAppBar" /> &lt;!&ndash; <activity android:name=".Mainpage_details" /> &ndash;&gt;-->
        <activity android:name=".Document_shipment" /> <!-- <activity android:name=".productsFragment" /> -->
        <activity android:name=".AddShimpment_invoice" />
        <activity android:name=".BondCashFragment" />
        <activity android:name=".Other_DocumentsCash" /> <!-- <activity android:name=".Update_MyProfileFragment" /> -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>